/* Personaliza el estilo del scrollbar */
.table-content-container::-webkit-scrollbar {
    width: 4px; /* Ancho del scrollbar */
  }
  
  .table-content-container::-webkit-scrollbar-thumb {
    background-color: rgba(12, 12, 12, 0.63); /* Color del pulgar del scrollbar */
    border-radius: 10px; /* Bordes redondeados */
  }
  
  .table-content-container::-webkit-scrollbar-thumb:hover {
    background-color: black; /* Cambio de color al pasar el cursor */
  }
  
  .table-content-container::-webkit-scrollbar-track {
    background-color: white; /* Color de la pista del scrollbar */
  }
  .icono{
    transition: 0.5s;
  }
  .icono:hover{
    rotate: 360deg;
  }

  .link:hover{
    background: rgb(55, 53, 53);
  }
/* Estilo para las filas de la tabla */
.table-row {
  transition: background-color 0.2s ease-in-out;
}

.table-row:hover {
  background-color: #f7f7f7;
}

/* Estilo para las filas impares */
.table-row-odd {
  background-color: #f7f7f7;
}

/* Estilo para las filas pares */
.table-row-even {
  background-color: #ffffff;
}

/* Estilo para celdas */
.table-cell {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

/* Estilo para encabezados de columna */
.table-header {
  background-color: #f0f0f0;
  font-weight: bold;
}




